.paypal-logo {
  margin: 0 auto 6.56%;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.paypal-logo-long {
  background: transparent url("~/public/images/paypal-mark-color.svg") top center no-repeat;
  width: 34px;
  height: 40px;
  display: block;

  &.inversed {
    background: transparent url("~/public/images/paypal-inversed.svg") top center no-repeat;
  }
}
