.dashboard-container {
  display: flex;
  flex-direction: row;

  .left-section, .right-section {
    flex: 1;
    width: 0;
    padding: 40px;
  }

  .left-section {
    .content {
      max-width: 550px;
      margin-left: auto;
    }
  }

  .right-section {
    background-color: white;

    .content {
      max-width: 550px;
    }

    .action-buttons {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;

      .ant-btn-primary {
        flex: 1;
        margin-right: 10px;
        height: 45px;
      }

      .ant-btn-ghost {
        flex: 1;
        height: 45px;
      }
    }
  }
}
