.recent-activity {
  background-color: white; /* Light gray background */
  border-radius: 12px; /* Rounded corners for the component */
  padding: 20px; /* General padding for the entire component */
  margin-top: 20px; /* Maintain margin for the entire block */

  .activity-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px; /* Bottom margin for spacing from list */
    margin-top: 0px; /* Reduce top margin for better balance */
  }

  .activity-item {
    display: block;
    background-color: #fff;
    padding: 0px;
    margin-bottom: 10px;
    border-bottom: none;

    a {
      display: block;
      color: black;
      border: 1px solid #e0e0e0;
      border-radius: 10px;
    }
  }
}
