.filter-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  height: 100%;

  .inputs {
    flex-grow: 1;
  }
  .footer {
    display: flex;
    justify-content: center;
  }

  .ant-form-item-label > label {
    font-weight: bold;
  }

  .filter-form__custom-date-text {
    color: #001529;
    font-weight: bold;
    display: block;
    margin: 10px 0;
  }

  .filter-form__apply-button {
    margin-top: 20px;
    text-align: center;

    button {
      background-color: #0046be;
      border-color: #0046be;
      font-weight: bold;
    }
  }
}
