.transactions-list {
  background: #ffffff;
  width: 100%;
  min-height: 100vh;

  .content {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
  }

  .list {
    margin-top: 30px;

    .list-item {
      display: block;
      padding: 0px;
      border-bottom: none;
      margin-bottom: 10px;
    }
  }
}
