.sign-up-page {
  width: 100%;
  min-height: 100vh;
  background: #ffffff;

  // Common container styling for forms
  .form-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
    background-color: #fff;
  }

  // Common top line styling (for back arrow or other top elements)
  .form-top-line {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .back-arrow {
      font-size: 16px;
      cursor: pointer;
      color: #1d1e1f;
    }

    .login-link {
      font-size: 1rem;
      color: #0070ba;
      font-weight: 500;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  // Common styling for form titles
  .form-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #1d1e1f;
    margin-bottom: 50px;
  }

  // Common button styling for primary action buttons
  .primary-button {
    background-color: #0070ba;
    border-color: #0070ba;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    height: 48px;
    border-radius: 24px;
    min-width: 200px;
    padding: 0 30px;
    margin-top: 20px;

    &:hover,
    &:focus {
      background-color: #005ea6;
      border-color: #005ea6;
    }
  }

  // Common input styling for rounded inputs
  .rounded-input {
    border-radius: 8px;
    padding: 10px;
  }

  .ant-form-item-explain {
    text-align: left;
  }

  // Common disclaimer text styling
  .disclaimer-text {
    font-size: 12px;
    color: #6c757d;
    margin-top: -10px;
    margin-bottom: 20px;
    line-height: 1.5;
    text-align: left;
  }

}
